body {
    padding-top: 70px;
}

.thumb {
    display: block;
    background-size: contain;
    height: 200px;
    position: relative;
    margin-bottom: 20px;
    text-decoration: none;
    background: #fff no-repeat center;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.thumb:hover {
    border: 1px solid #337ab7;
}

.file-name {
    cursor: pointer;
}

.file-hide-name {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.rect {
    max-height: 270px;
}

.pager {
    margin-bottom: 20px;
    margin-top: 0;
}

.col-pager {
    padding-left: 0;
    padding-right: 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}